{% extends 'base.html' %}

{% block title %} Query {% endblock %}

{% block content %}
<form method="post">
    <div class="form-group">
        <label for="year">Рік</label>
        <select id="year" name="year" class="form-select">
            <option value="">Всі</option>
            {% for option in options.year %}
            <option value="{{ option.id }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="ptregname">Регіон проведення</label>
        <select id="ptregname" name="ptregname_id" class="form-select">
            <option value="">Всі</option>
            {% for option in options.ptregname %}
            <option value="{{ option.id }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="subject">Предмет</label>
        <select id="subject" name="subject" class="form-select">
            <option value="">Всі</option>
            {% for option in options.subject %}
            <option value="{{ option.id }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="btn-group" style="margin: 20px">
        <button type="submit" class="btn btn-primary">Створити запит</button>
    </div>
</form>
{% endblock %}